.advantages {
	background-color: var(--main-bg-color);
}
.advantages__container {
	padding-bottom: 32px;

	@media screen and (min-width: 768px) {
		padding-bottom: 60px;
	}
	@media screen and (min-width: 1200px) {
		padding-bottom: 80px;
	}
}
.advantages__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 28px;

	@media screen and (min-width: 768px) {
		gap: 80px;
	}
	@media screen and (min-width: 1200px) {
		gap: 32px;
	}
}
.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantages__item::before {
	content: '';
	display: block;
	margin-bottom: 16px;

	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--accent-color);
	background-repeat: no-repeat;
	background-position: center;

	@media screen and (min-width: 768px) {
		margin-bottom: 32px;
	}
	@media screen and (min-width: 1200px) {
		margin-bottom: 40px;
	}
}
.advantages__cow::before {
	background-image: url(../images/advantages/cow.svg);
}
.advantages__weight::before {
	background-image: url(../images/advantages/weight.svg);
}
.advantages__ice-cream::before {
	background-image: url(../images/advantages/ice-cream.svg);
}

.advantages__quantity {
	margin-bottom: 16px;

	font-weight: 700;
	font-size: 36px;
	line-height: calc(44 / 36);

	@media screen and (min-width: 768px) {
		margin-bottom: 12px;
		font-size: 48px;
	}
	@media screen and (min-width: 1200px) {
		font-size: 58px;
	}
}

.advantages__text {
	max-width: 230px;

	font-weight: 700;
	font-size: 12px;
	line-height: calc(20 / 12);
	text-align: center;
	letter-spacing: normal;

	@media screen and (min-width: 768px) {
		max-width: 152px;
		font-weight: 400;
		font-size: 14px;
		line-height: calc(24 / 14);
	}
	@media screen and (min-width: 1200px) {
		max-width: 368px;
		font-size: 58px;
		font-size: 16px;
		line-height: calc(28 / 16);
		letter-spacing: 0.02em;
	}
}
