:root {
	--accent-color: #f8d24e;

	/* Fonts */
	--main-font: 'Montserrat', sans-serif;
	--secondary-font: 'Seymour One', sans-serif;

	/* Text colors */
	--main-text-color: #fcfcfc;
	--secondary-text-color: #131313;

	/* BG colors */
	--main-bg-color: #84a178;
	--light-bg-color: #fcfcfc;

	/* Others */
}
